<!doctype html>
<style>
  .row {
    justify-content: center;
  }
</style>

<form method="post">
  <div class="row">
    <div class="form-group">
      <label for="n_rooms">Number of rooms</label>
      <input type="text" class="form-control" id="n_rooms" name="n_rooms" placeholder="3">
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="district">District</label>
      <input type="text" class="form-control" id="district" name="district" placeholder="District">
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="hs_type">Type of the house</label>
      <select class="form-control form-control-lg" id="hs_type" name="hs_type">
        <option>Panel</option>
        <option>Brick</option>
      </select>
    </div>
  </div>

  <div class="row">
    <!-- Submit button  -->
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
