<!doctype html>
<style>
  .row {
    justify-content: center;
    display: flex;
  }
</style>


<form method="post">
  <div class="row">
    <div class="form-group">
      <label for="square">Square</label>
      <input type="text" class="form-control" id="square" name="square" placeholder="100">
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="n_rooms">Number of rooms</label>
      <input type="text" class="form-control" id="n_rooms" name="n_rooms" placeholder="3">
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <!-- Address could consist of three different fields  -->
      <label for="address">Address</label>
      <input type="text" class="form-control" id="dist" name="dist" placeholder="District">
      <input type="text" class="form-control" id="street" name="street" placeholder="Street">
      <input type="text" class="form-control" id="n_house" name="n_house" placeholder="Number of the house">
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="floor">Floor</label>
      <input type="text" class="form-control" id="floor" name="floor"placeholder="100">
    </div>
  </div>

  <div class="row">
    <!-- Here I can use dropdown chooser  --> 
    <div class="form-group">
      <label for="hs_type">Type of the house</label>
      <select class="form-control form-control-lg" id="hs_type" name="hs_type">
        <option>Panel</option>
        <option>Brick</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="n_floors">Number of floors</label>
      <input type="text" class="form-control" id="n_floors" name="n_floors" placeholder="100">
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="100">
    </div>
  </div>

  <div class="row">
    <!-- Submit button  -->
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
    
</form>
