<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="square">Square</label>
          <input type="square" class="form-control" id="square" placeholder="100">
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
  
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="n_rooms">Number of rooms</label>
          <input type="n_rooms" class="form-control" id="n_rooms" placeholder="3">
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="address" class="form-control" id="address" placeholder="District Street Number of the house">
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="floor">Floor</label>
          <input type="floor" class="form-control" id="floor" placeholder="100">
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="square">Type of the house</label>
          <input type="square" class="form-control" id="square" placeholder="100">
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="square">Number of floors</label>
          <input type="square" class="form-control" id="square" placeholder="100">
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label for="square">Price</label>
          <input type="square" class="form-control" id="square" placeholder="100">
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
