<form>
  <div class="form-group">
    <label for="side_a_form">Side A</label>
    <input type="side_a_form" class="form-control" id="side_a_form" placeholder="Side A">
  </div>
   <div class="form-group">
    <label for="side_b_form">Side B</label>
    <input type="side_b_form" class="form-control" id="side_b_form" placeholder="Side B">
  </div>
   <div class="form-group">
    <label for="side_c_form">Side C</label>
    <input type="side_c_form" class="form-control" id="side_c_form" placeholder="Side C">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>